

    <div class="container" style="margin-left:15%;margin-top : 12%">
        <div class="omb_login" style="margin : auto">
            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-6">
                        <h3>Login or <a href="#/register">Sign up</a></h3>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" ng-model="userlogin.email" name="username" placeholder="email address">
                        </div>
                        <span class="help-block"></span>

                        <div class="input-group" style="margin-bottom: 30px">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input  type="password" class="form-control" name="password" ng-model="userlogin.password"  placeholder="Password">
                        </div>

                        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="x()" >Login</button>
                </div>
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>



